/* =========================================
   HIDE DEFAULT STREAMLIT NAV
========================================= */

[data-testid="stSidebarNav"] {
    display: none;
}

/* =========================================
   SIDEBAR
========================================= */

section[data-testid="stSidebar"] {
    width: 320px !important;
    background-color: #f5f7fb;
}

/* =========================================
   LOGO AREA
========================================= */

.logo-area {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* =========================================
   SIDEBAR DIVIDER
========================================= */

.sidebar-divider {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #dcdcdc;
}

.element-container {
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
}

.stButton {
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
}

/* =========================================
   BUTTONS
========================================= */

/* =========================================
   SIDEBAR BUTTONS
========================================= */

/* =========================================
   SIDEBAR BUTTONS
========================================= */

.stButton > button {

    width: 100%;
    border-radius: 12px;
    height: 55px;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 2px;
    border: 1px solid #d0d7de;
    background-color: white;
}

.stButton > button:hover {
    border-color: #23ed0c;
    background-color: #eef4ff;
    color: #111827;
}
/* =========================================
   PAGE TITLE
========================================= */

h1 {
    font-size: 28px !important;
    font-weight: 700 !important;
}

/* =========================================
   INFO TEXT
========================================= */

.caption {
    color: #6b7280;
}

/* =========================================
   REMOVE TOP PAGE SPACE
========================================= */

.block-container {

    padding-top: 1rem !important;

    padding-bottom: 1rem !important;
}

/* Optional: tighter layout */
.main .block-container {

    max-width: 100%;

    padding-left: 2rem;

    padding-right: 2rem;
}

/* Hide Streamlit top header */

header[data-testid="stHeader"] {
    display: none;
}